<h2>Edit Product</h2>

<%= simple_form_for [:admin,@product] do |p| %>
  <div class="group">
    <%= p.input :title %>
  </div>

  <div class="group">
    <%= p.input :description %>
  </div>

  <div class="group">
    <%= p.input :quantity %>
  </div>

  <div class="group">
    <%= p.input :price %>
  </div>

  <% if @product.image.present? %>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <div>
    <%= p.input :image, as: :file %>
  </div>

  <div class="group">
    <%= p.input :category_id do %>
      <%= p.select :category_id, Category.all.map { |c| [c.name, c.id] }, selected: @product.category_id %>
    <% end %>
  </div>


  <div class="group">
    <%= p.input :pack_id do %>
      <%= p.select :pack_id, Pack.all.map { |p| [p.name, p.id] }, selected: @product.pack_id %>
    <% end %>
  </div>

  <%= p.submit "Submit", data: { disable_with: "Submitting..."} %>
<% end %>

<script type="text/javascript">
  autosize($('#product_description'));
</script>
