<h2>Edit Product</h2>

<%= simple_form_for [:admin,@product] do |p| %>
  <div class="group">
    <%= p.input :title %>
  </div>

  <div class="group">
    <%= p.input :description %>
  </div>

  <div class="group">
    <%= p.input :quantity %>
  </div>

  <div class="group">
    <%= p.input :price %>
  </div>

  <div>
    <%= p.label :image %>
    <%= p.file_field :image, :multiple => true, name: "photos[image][]" %>（"请上传5张图片"）
  </div>

  <div class="group">
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => "类别")%>
    <span><%= @product.category.name %></span>
  </div>
  <br>

  <%= p.submit "Submit", data: { disable_with: "Submitting..."} %>
<% end %>

<script type="text/javascript">
  autosize($('#product_description'));
</script>
