<h2>Edit Product</h2>

<%= simple_form_for [:admin,@product] do |p| %>
  <div class="group">
    <%= p.input :title %>
  </div>

  <div class="group">
    <%= p.input :description %>
  </div>

  <div class="group">
    <%= p.input :quantity %>
  </div>

  <div class="group">
    <%= p.input :price %>
  </div>

  <% if @product.image.present? %>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <div>
    <%= p.input :image, as: :file %>
  </div>

  <div class="group">
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => "请选类别")%>
    <span><%= @product.category.name %></span>
  </div>
  <br>

  <div class="group">
    <%= select_tag(:pack_id, options_for_select(@packs), :prompt => "请选套餐")%>
    <span><%= @product.pack.name %></span>
  </div>
  <br>
  <%= p.submit "Submit", data: { disable_with: "Submitting..."} %>
<% end %>

<script type="text/javascript">
  autosize($('#product_description'));
</script>
