<div class="panel panel-default">
  <div class="panel-body">
    <div id="search-page" class="container-fluid products-show-page">
      <div class="col-md-10 col-md-offset-1">
        <div class="pull-right">
          <%= link_to(content_tag(:i, " 查看所有产品", class: "fa fa-reply-all"), products_path) %> |
          <%= link_to(content_tag(:i, "返回", class: "fa fa-arrow-left"), url_for(:back)) %>
        </div>
      </div>
    <div>
      <% if @query_string.blank? %>
          <div class="search-info-title">
            <br>搜索关键字不能为空
          </div>

      <% elsif @products.blank? %>
          <br>
          <h3 class="search-info-title">没找到匹配信息，请重新搜索</h3>
      <% else %>
          <h3 class="search-info-title"> 找到包含"<%= @query_string %>"的<span style="color:blue">
            <%= @products.count %> </span> 个产品 </h3>
            <% @products.each do |product| %>
              <div class="col-xs-6 col-md-3">
                <%= link_to product_path(product) do %>
                  <% if product.photos.present?? %>
                    <%= image_tag(product.photos[0].image.thumb.url, class: "thumbnail") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                  <% end %>
                <% end %>
                <%= link_to(render_highlight_content(product,@query_string),product_path(product)) %> ￥ <%= product.price %>
                <br>
                总浏览量: <%= product.impressionist_count(:filter=>:session_hash) %>
              </div>
            <% end %>
      
          <div class="text-center">
            <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
          </div>
      <% end %>
    </div>
  </div>

  </div>
</div>
